[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
seaborn = "*"
keras = "*"
pillow = "*"
opencv-python = "*"
tensorflow = "*"
tensorboard = "*"

[requires]
python_version = "3.7"
