[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
seaborn = "*"
keras = "*"
tensorflow = "*"
keras-rl2 = "*"

[requires]
python_version = "3.7"
